.navbar {
  height: 4rem;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.navbar h3 {
  font-size: 1.5rem;
}

.navbar button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 1rem 3rem;
  cursor: pointer;
}

.navbar button:hover {
  background-color: red;
}

.navbar_addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.navbar_addBtn span {
  font-size: 1.75rem;
  cursor: pointer;
}

.navbar_addBtn span:hover {
  color: #ea1d6f;
}
